#bla p {
    font-size: 40px;
}
#bla {
    height: 40px;
    width: 500px;
    display: contents;
    text-align:center;
}
#bla button {
    margin-left: 500px;
    height: 40px;
    width: 500px; 
    border-radius: 10px;
    box-shadow: 0 0 20px;
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}
#inputi {
    border-radius: 10px;
    height: 40px;
    width: 490px; 
    margin-left: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 20px greenyellow;
}
/*Iliriana*/
